<div class="main-container">
    <div>
        <p-sidebar [(visible)]="showNavBar" position="top" [styleClass]="'navStyle'" [showCloseIcon]="false" [closeOnEscape]="false">
            <div class="container">
                <div class="logo-cont">
                    <img src="../../../../assets/Imaginnovate-New-Logo.png" alt="">
                </div>
                <div class="nav-list-cont">
                    <ul>
                        <li routerLink="/dashboard/dpe" routerLinkActive="active">DPE</li>
                        <li routerLink="/dashboard/pgt" routerLinkActive="active">PGT</li>
                        <li routerLink="/dashboard/stack-enable" routerLinkActive="active">Stack Enable</li>
                        <li routerLink="/dashboard/seamless-assist" routerLinkActive="active">Seamless Assist</li>
                    </ul>
                </div>
    
            </div>
    
        </p-sidebar>
    </div>
    <div class="content-cont">
        <router-outlet></router-outlet>
    </div>

    <div class="voice-bot-container">
        <img src="../../../../assets/chatbot_img.svg" *ngIf="!showVoiceBotChat" (click)="enableVoiceBotChat()" alt="voiceBot">
        <app-voicebot *ngIf="showVoiceBotChat" (closeVoiceBot)="closeVoiceBotchat()" ></app-voicebot>
    </div>


</div>